@import 'base/variables.scss';
* {
    box-sizing: border-box;
    font-family: 'Museo Sans', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo.scss';
@import 'blocks/header.scss';
@import 'blocks/button.scss';
@import 'blocks/advantages.scss';
@import "blocks/consultation.scss";
@import "blocks/titles.scss";
@import "blocks/forms.scss";
@import "blocks/carousel.scss";
@import "blocks/catalog.scss";
@import "blocks/catalog-item.scss";
@import "blocks/feedback.scss";
@import "blocks/footer.scss";

@import 'base/media.scss';

