.carousel {
    padding: 81px 0;
    .carousel__slider {
        width: 750px;
        margin: 0 auto;
        .slick-prev, .slick-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            border: none;
            background-color: #fff;
            img {
                width: 31px;
                height: 50px;
            }
        }
        .slick-prev {
            left: -66px;
        }
        .slick-next {
            right: -66px;
        }
    }
    
}