.consultation {
    height: 680px;
    padding: 100px 0 108px 0;
    background: url('../img/bg/bg2.jpg') center center/cover no-repeat;
    .consultation__subheader {
        text-align: left;
        margin-top: 8px;
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }
}
