.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        width: 303px;
        height: 54px;
        border-radius: 5px;
        border: none;
        margin-bottom: 15px;
        padding: 0 20px;
        color: #4B4B4B;
        font-size: 14px;
        font-weight: 300;
    }
    input:last-of-type {
        margin-bottom: 20px;
    }
}
.feed-form_mt25 {
    margin-top: 25px;
}